<div id="navigation">
    <ul class="nav justify-content-center navigation">
      <li class="nav-item">
        <div class="inner_elements"><a href="/recipes/today" class="font_inner_elements link_style">今日の献立</a></div>
      </li>
      <li class="nav-item">
        <div class="inner_elements"><a href="/recipes/all" class="font_inner_elements link_style">マイレシピ</a></div>
      </li>
      <li class="nav-item">
        <div class="inner_elements"><a href="/histories/" class="font_inner_elements link_style">献立の履歴</a></div>
      </li>
    </ul>

    <div class="setting">
        <a class="link_style" href="/users/account"><p class="setting_font">設定</p></a>
    </div>
</div>