<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>レシピ一覧</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    
  </head>

  <body>

    <%- include('../common/header') %>
  
  <div id="contents_main">
    <div class="contents_header">
        <h1 class="contents_h1_font">レシピ一覧</h1>
        <div><a href="/recipes/add"><button type="button" class="btn btn-outline-primary">レシピの登録</button></a></div>
    </div>
    <ul class="contents_list">
        <% for (let i in contents) { %>
            <li class="contents_list_element contents_p_font"><a class="link_style" href="/recipes/recipe/<%= contents[i].recipes_id %>"><%- contents[i].name %></a></li>
        <% } %>
    </ul>
  
  </div>    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>

</html>